<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="javacollection" class="com.edu.JavaCollection">
    
    <property name="listAddress">
    <list>
	    <value>India</value>
	    <value>USA</value>
	    <value>Canada</value>
    </list>
    </property>
    <property name="setAddress">
	    <list>
		    <value>India</value>
		    <value>USA</value>
		    <value>Canada</value>
	    </list>
    </property>
    <property name="mapaddress">
	    <map>
		    <entry key="1" value="India"></entry>
		    <entry key="2" value="USA"></entry>
		    <entry key="3" value="Canada"></entry>
	    </map>
    </property>
    
    
    </bean>
    

</beans>