<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="texteditor" class="com.edu.TextEditor">
    <constructor-arg ref="spellCheck"></constructor-arg>
    </bean>
    
    <bean id="spellCheck" class= "com.edu.SpellCheck"></bean>

</beans>